.env
build/
allure-report/
oscript_modules/

ConfigDumpInfo.xml
build
out
.scannerwork
src\cf\ConfigDumpInfo.xml

# Файлы отслеживания загрузки конфигурации
src/cf/lastUploadedCommit.txt
src/cf/lastUploadedConfigDumpInfo.xml
